@use './assets/scss/themes' as *;

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:90vh;
  width: 100vw;
  background-color: var(--background-color);
  color: var(--text-color);
}
